### Loading and Preprocessing

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.notebook import tqdm  



import warnings
warnings.filterwarnings("ignore")

print("✓ Libraries imported")

✓ Libraries imported

#### Loading Datasets

In [4]:
# Loading datasets 

orders = pd.read_csv(r'C:\Users\sammy\Desktop\AFFINITY\Data Dump\orders.csv')

trucks = pd.read_csv(r'C:\Users\sammy\Desktop\AFFINITY\Data Dump\trucks.csv')

centres = pd.read_csv(r'C:\Users\sammy\Desktop\AFFINITY\Data Dump\centres.csv')

#### Checking for null values

In [6]:
# checking for missing values

orders.isnull().sum()

Unnamed: 0            0
orderId               0
clientId           1243
lastModified          0
status                0
truckKey         310775
location              0
fee                   0
volume(kg)            0
deliveryItem          0
dateGenerated         0
dtype: int64

In [7]:
trucks.isnull().sum()

creationDate    0
encodedKey      0
status          0
truckType       0
volume(kg)      0
dtype: int64

In [8]:
centres.isnull().sum()

centreId        0
location        0
creationDate    0
dtype: int64

#### Checking for duplicates

In [10]:
# checking for duplicates

orders.duplicated().sum()

0

In [11]:
trucks.duplicated().sum()

0

In [12]:
centres.duplicated().sum()

0

#### data types

#### orders

In [14]:
orders.dtypes

Unnamed: 0         int64
orderId           object
clientId          object
lastModified      object
status            object
truckKey          object
location          object
fee              float64
volume(kg)       float64
deliveryItem      object
dateGenerated     object
dtype: object

In [15]:
# data type conversion for date columns

orders['lastModified'] = pd.to_datetime(orders['lastModified'], dayfirst=True)
orders['dateGenerated'] = pd.to_datetime(orders['dateGenerated'], dayfirst=True)

In [16]:
orders.dtypes

Unnamed: 0                int64
orderId                  object
clientId                 object
lastModified     datetime64[ns]
status                   object
truckKey                 object
location                 object
fee                     float64
volume(kg)              float64
deliveryItem             object
dateGenerated    datetime64[ns]
dtype: object

In [17]:
# removing Unnamed: 0 column

orders.drop(columns=['Unnamed: 0'], inplace=True)

In [18]:
orders.dtypes

orderId                  object
clientId                 object
lastModified     datetime64[ns]
status                   object
truckKey                 object
location                 object
fee                     float64
volume(kg)              float64
deliveryItem             object
dateGenerated    datetime64[ns]
dtype: object

In [19]:
orders.head()

,orderId,clientId,lastModified,status,truckKey,location,fee,volume(kg),deliveryItem,dateGenerated
0,01GGAPGS3BZKF3AKKRRHPBCMMG,320232240,2025-03-02 18:20:00,PENDING,NaN,KINTAMPO,6400.0,340.0,BED,2025-03-02 18:20:00
1,01GGAPK4BCXD9S96QXFYD65E20,2420001880,2025-03-02 18:20:00,PENDING,NaN,KINTAMPO,320.0,17.0,BED,2025-03-02 18:20:00
2,01GGAPRNS3ET0JC79QTAX8PG46,43730707,2025-03-02 18:20:00,PENDING,NaN,KINTAMPO,3200.0,170.0,BED,2025-03-02 18:20:00
3,01GGAPX6EG5S77Y5B39SHNXEAM,28737136,2025-03-02 18:20:00,PENDING,NaN,KINTAMPO,640.0,34.0,BED,2025-03-02 18:20:00
4,01GGAPYCWBVZQEFFM0DA1J9VT3,38457808,2025-03-02 18:20:00,PENDING,NaN,KINTAMPO,1600.0,85.0,BED,2025-03-02 18:20:00

#### trucks

In [21]:
trucks.dtypes

creationDate    object
encodedKey      object
status          object
truckType       object
volume(kg)       int64
dtype: object

In [22]:
# Chaning datatype for creationDate

trucks['creationDate'] = pd.to_datetime(trucks['creationDate'])

# changing datatype for volume(kg)

trucks['volume(kg)'] = trucks['volume(kg)'].astype(float)

trucks.dtypes

creationDate    datetime64[ns]
encodedKey              object
status                  object
truckType               object
volume(kg)             float64
dtype: object

In [23]:
trucks.head()

,creationDate,encodedKey,status,truckType,volume(kg)
0,2022-06-01 08:55:16,8a858f5b8101e7c901811e75b191610d,ACTIVE,REEFER_TRUCK,20000.0
1,2022-06-09 16:46:57,8a858f46813e54820181495b67cc468b,ACTIVE,REEFER_TRUCK,15000.0
2,2022-08-05 17:30:18,8a858f318267ea7601826f0668096f69,ACTIVE,BOX_TRUCK,13000.0
3,2022-09-06 15:49:50,8a858e458312b8be018312f773d93984,IN_ACTIVE,BOX_TRUCK,13000.0
4,2022-12-06 15:03:23,8a858f4c84e67fe60184e7f2f7d05fc3,ACTIVE,BOX_TRUCK,13000.0

#### centres

In [25]:
centres.dtypes

centreId         int64
location        object
creationDate    object
dtype: object

In [26]:
# changing data type of creationDate

centres['creationDate'] = pd.to_datetime(centres['creationDate'])

centres.dtypes

centreId                 int64
location                object
creationDate    datetime64[ns]
dtype: object

In [27]:
centres.head()

   centreId    location        creationDate
0      1023    KINTAMPO 2022-06-01 08:55:16
1      1041        TEMA 2022-06-09 16:46:57
2      1151  BOLGATANGA 2022-09-06 15:49:50
3      1481   KOFORIDUA 2023-08-09 07:15:06
4      1561       ACCRA 2023-08-09 10:02:28

#### handling missing values for orders dataset

In [29]:
orders.isnull().sum()

orderId               0
clientId           1243
lastModified          0
status                0
truckKey         310775
location              0
fee                   0
volume(kg)            0
deliveryItem          0
dateGenerated         0
dtype: int64

In [30]:
orders.shape

(526945, 10)

In [31]:
# Filling the missing client Ids with a placeholder "Unknown"

orders['clientId'].fillna('Unknown', inplace=True)

In [32]:
# Checking if all orders with missing truckKey are truly 'PENDING'
missing_truckkey_orders = orders[orders['truckKey'].isnull()]
non_pending_with_no_truck = missing_truckkey_orders[missing_truckkey_orders['status'] != 'PENDING']

# Print unexpected rows if any
print("Non-PENDING orders with no truckKey:\n", non_pending_with_no_truck)

Non-PENDING orders with no truckKey:
 Empty DataFrame
Columns: [orderId, clientId, lastModified, status, truckKey, location, fee, volume(kg), deliveryItem, dateGenerated]
Index: []

In [33]:
# checking if all pending orders according to the metabase dashboard have null truck keys

pending_orders = orders[orders['status'] == 'PENDING']
assert pending_orders['truckKey'].isnull().all()

In [34]:
pending_orders

,orderId,clientId,lastModified,status,truckKey,location,fee,volume(kg),deliveryItem,dateGenerated
0,01GGAPGS3BZKF3AKKRRHPBCMMG,320232240,2025-03-02 18:20:00,PENDING,NaN,KINTAMPO,6400.0,340.0,BED,2025-03-02 18:20:00
1,01GGAPK4BCXD9S96QXFYD65E20,2420001880,2025-03-02 18:20:00,PENDING,NaN,KINTAMPO,320.0,17.0,BED,2025-03-02 18:20:00
2,01GGAPRNS3ET0JC79QTAX8PG46,43730707,2025-03-02 18:20:00,PENDING,NaN,KINTAMPO,3200.0,170.0,BED,2025-03-02 18:20:00
3,01GGAPX6EG5S77Y5B39SHNXEAM,28737136,2025-03-02 18:20:00,PENDING,NaN,KINTAMPO,640.0,34.0,BED,2025-03-02 18:20:00
4,01GGAPYCWBVZQEFFM0DA1J9VT3,38457808,2025-03-02 18:20:00,PENDING,NaN,KINTAMPO,1600.0,85.0,BED,2025-03-02 18:20:00
...,...,...,...,...,...,...,...,...,...,...
340007,01J187EZP99VWRDBRA208GKMDY,17354074.0,2025-03-02 18:20:00,PENDING,NaN,ACCRA,320.0,17.0,TABLE,2025-03-02 18:20:00
340008,01J187WA3ASVB0BRSEP7M2BM4Q,596083928.0,2025-03-02 18:20:00,PENDING,NaN,ACCRA,544.0,28.9,TABLE,2025-03-02 18:20:00
340009,01J188AKG5F6Y5QK85ZE9S9V88,604711603.0,2025-03-02 18:20:00,PENDING,NaN,ACCRA,6400.0,340.0,BED,2025-03-02 18:20:00
340012,01J189EMS0JB0QX69D8R7MKHZ9,512866981.0,2025-03-02 18:20:00,PENDING,NaN,ACCRA,320.0,17.0,TABLE,2025-03-02 18:20:00
340013,01J189R5H7CP0C8SZM3F135ZGR,193684670.0,2025-03-02 18:20:00,PENDING,NaN,ACCRA,3200.0,170.0,TABLE,2025-03-02 18:20:00

In [ ]:
# --------------------------
# SAVE TRANSFORMED DATA
# --------------------------
# Create dictionary of all transformed datasets
transformed_data = {
    'orders': orders,
    'trucks': trucks,
    'active_trucks': active_trucks,
    'centres': centres,
    'pending_orders': pending_orders

import os
os.makedirs('transformed_data', exist_ok=True)

for name, df in transformed_data.items():
    df.to_csv(f'transformed_data/{name}.csv', index=False)

print("✅ All transformed data saved:")
print(f"- Single file: {transformed_data_path}")
print("- Individual CSV files in /transformed_data folder")

####